/* Reset */
body {
    margin: unset;
}

/* CSS Variables */
:root {
    /* Color */
    /* CSS Variable을 활용하여 색상 정보 체계적 관리 */
    --color-white: #fff;
    --color-gray-50: #999;
    --color-gray-80: #222;
    --color-gray-90: #111;
    --color-black: #000;
}

/* Component */
body {
    background-color: var(--color-gray-80);
}

.wrapper {
    margin: 60px auto;

    /* .wrapper에 좌우 패딩을 기본적으로 제공 / 뷰포트 사이즈가 작아져도 좌우로 기본적인 여유를 부여함 */
    padding: 0 30px;

    /* 컨테이닝 블록 기준으로 가득 차려고 시도 */
    width: auto;

    /* 가득 차는 상황에서 최대치로 커질 수 있는 너비를 제한 */
    max-width: 1200px;
}

.article {
    background-color: var(--color-gray-90);
    color: var(--color-gray-50);
}